body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #f6f7fb, #eef2f7);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    background: rgba(20,20,20,0.95);
    color: white;
}

/* LAYOUT */
.container {
    padding: 14px;
}

/* CARD */
.card {
    background: white;
    width: 500px;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);

    height: 375px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    min-width: 400px;
    max-width: 600px;  
    margin: 40px auto;
}

/* IMAGE */
#img {
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    max-width: 100%;
    max-height: 320px;
    object-fit: contain;
    border-radius: 14px;
}


#img.zoomed {
    transform: scale(1.8);
    z-index: 1000;
    position: relative;
    cursor: zoom-out;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* ANSWER */
.answer {
    margin-top: 10px;
    font-size: 20px;
    color: #111;

    /* min-height: 50px; */

    opacity: 0;
    transition: opacity 0.2s ease;
}

.answer.visible {
    opacity: 1;
}

/* BUTTONS */
.buttons {
    text-align: center;
}

button {
    margin: 6px;
    padding: 10px 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* COLORS */
.btn-show { background:#444; color:white; }
.fail { background:#e74c3c; color:white; }
.partial { background:#f39c12; color: rgb(53, 53, 53); }
.correct { background:#27ae60; color:white; }


/* IMAGE OVERLAY BACKDROP */
.zoom-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;

    z-index: 1000;
}

/* active state */
.zoom-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* zoomed image */
.zoom-overlay img {
    cursor: pointer;
    max-width: 90%;
    max-height: 90%;
    border-radius: 14px;

    transform: scale(0.9);
    transition: transform 0.25s ease;
}

/* For transparent images */
.zoom-overlay img.has-bg {
    background: #f8f8f8;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* animate in */
.zoom-overlay.active img {
    transform: scale(1);
}

/* DECKS */
.decks {
    margin-top: 15px;
}

.deck-label {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

/* QoL */
/* prevent weird behavior on image and buttons */
img, button, div {
    -webkit-tap-highlight-color: transparent;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}